.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.backUrl{
  color:'';
  margin: 40px;
  padding: 10px;
  background-image: url('https://i2-prod.mirror.co.uk/incoming/article13974364.ece/ALTERNATES/s1200b/0_Atletico-Madrid-v-Girona-Copa-del-Rey-Round-of-16-Second-Leg.jpg')
}
.mainImage{
  height:100px;
  width: 25px;
}
.backColor{
  background-color: blanchedalmond;
}
